*.iso
*.img
*.squashfs
/chroot/
/binary/
/build/
/cache/
/live-build/binary/
/live-build/chroot/
/live-build/cache/
/live-build/*.log
/live-build/*.iso
/live-build/*.iso.sha256
/live-build/*.packages
/live-build/*.files
/live-build/*.contents
/live-build/*.modified_timestamps
/live-build/config/binary/
/live-build/config/chroot/
/live-build/config/bootstrap/
/live-build/config/common
/live-build/config/source
/live-build/*.build
/live-build/chroot.headers
/live-build/chroot.packages.install
/live-build/chroot.packages.live
.kilo/
